<div class="navigation-bar"></div>
<div class="container container-responsive">
  <div class="social-bar column-2">
    <a href="http://twitter.com/pvm" class="social-icon twitter"></a>
    <a href="http://dribbble.com/pvm" class="social-icon dribble"></a>
  </div>

  <div class="adventures">
    <div class="timeline-container"></div>
    <div class="intro">
      <h3>Adventures</h3>
      <p>By thinking through ideal solutions, you’re forced to consider a problem from all sorts of perspectives. I learned early on that the more perspectives you could bring to the table, the stronger your ability to craft a solution that made sense.</p>

      <p>Fewer perspectives mean a less-than-satisfactory result. And anything less than your best effort just isn’t worth it. I needed to keep an open mind; I needed to learn and appreciate from those around me.</p>
    </div>

    <ol class="portfolio">
      <li class="portfolio-item">
        <div class="item-overview">
          <h4><a href="http://getkale.com">Kale</a></h4>
          <h5>Product design / management &middot; Front-end dev &middot; iOS Client &middot; Rails APIs</h5>
          <p>Celebrate your food to eat healthier. Kale helps people track and share their meals.</p>
        </div>

        <ul class="product-showcase">
          <li class="product-screenshot">
            <img src="/assets/kale-hero-iphones.png" width="100%" class="hero-image" />
            <h6>Fig. K-1</h6>
            <p>Mobile designs for Kale iOS app.</p>
          </li>

          <li class="product-screenshot">
            <img src="/assets/kale-hero-web.png" width="100%" />
            <h6>Fig. K-2</h6>
            <p>Landing pages, web app, and email templates.</p>
          </li>
        </ul>
      </li><!-- end .portoflio-item -->


      <li class="portfolio-item">
        <div class="item-overview">
          <h4><a href="http://corhq.com">Cor</a></h4>
          <h5>Product design &middot; Front-end dev &middot; PHP CI Integration</h5>
          <p>Health is no longer a perk, it’s a priority. Cor is an employee wellness engagement platform.</p>
        </div>

        <ul class="product-showcase">
          <li class="product-screenshot">
            <img src="/assets/cor-hero-web.png" width="100%" class="hero-image" />
            <h6>Fig. C-1</h6>
            <p>Responsive web/mobile designs for Cor.</p>
          </li>

          <li class="product-screenshot">
            <img src="/assets/cor-hero-responsives.png" width="100%" />
            <h6>Fig. C-2</h6>
            <p>Landing page, dashboards, daily emails, etc.</p>
          </li>
        </ul>
      </li><!-- end .portoflio-item -->

      <li class="portfolio-item">
        <div class="item-overview">
          <h4><a href="http://foster.ly">Foster.ly</a></h4>
          <h5>Product design &middot; Front-end dev &middot; Rails APIs</h5>
          <p>Supporting entrepreneurs in the DC, MD, and VA area. Connect, learn, and share resources.</p>
        </div>

        <ul class="product-showcase">
          <li class="product-screenshot">
            <img src="/assets/cor-hero-web.png" width="100%" class="hero-image" />
            <h6>Fig. F-1</h6>
            <p>Responsive web/mobile designs for Cor.</p>
          </li>

          <li class="product-screenshot">
            <img src="/assets/cor-hero-responsives.png" width="100%" />
            <h6>Fig. F-2</h6>
            <p>Landing page, dashboards, daily emails, etc.</p>
          </li>
        </ul>
      </li><!-- end .portoflio-item -->


    </ol><!-- end .portfolio -->
  </div><!-- end .adventures -->
</div><!-- end .container -->
<footer>
  
</footer>