<div class="navigation-bar"></div>
<div class="container">
  <div class="social-bar offset-1 column-2">
    <a href="http://twitter.com/pvm" class="social-icon twitter"></a>
    <a href="http://dribbble.com/pvm" class="social-icon dribble"></a>
  </div>

  <div class="home-hero">
    <h3 class="offset-1 column-10">Adventures</h3>
    <div class="offset-1 column-7">
      <p>I was a <a href="#">hacker at 3</a>. As I grew, the world grew. It’s interesting how much changes as time passes. I found that my desire to help people grew stronger as I encountered problem after problem. It soon became clear that problems could only be solved by trying to solve them. Imagine that.</p>
      <p>By thinking through ideal solutions, you’re forced to consider a problem from all sorts of perspectives. I learned early on that the more perspectives you could bring to the table, the stronger your ability to craft a solution that made sense.</p>

      <p>Fewer perspectives meant a less-than-satisfactory result. And anything less than your best effort just isn’t worth it. This meant I needed to keep an open mind; I needed to learn and appreciate from those around me.</p>

      <p>These days, this sort of thinking is labeled "design thinking", as-in thinking about why a series of systems isn’t accomplishing a particular goal, what the system is composed of, and how to change it to fix the problem.</p>

      <p>This is what I enjoy doing.</p>

      <p>I wanted to reflect on where I’ve come from so I could better understand where I should be going. This involved piecing together the series of my experiences. It’s currently incomplete, but below you’ll find enough to get you in trouble.</p>
    </div>

    <ol class="offset-1 adventures-timeline column-7">
      <li class="year">2013</li>

      <li class="timeline-item">
        <div class="timeline-point"></div>
        <div class="timeline-container cf">
          <div class="timeline-brief">
            <h4>Kale</h4>
            <h5>Product design • Rails Web API • iOS Client</h5>
            <p>Celebrate your food to eat healthier. Kale helps people track and share their meals.</p>
          </div><!-- end .timeline-brief -->
          <div class="timeline-screens">
            <img src="" width="50px" height="50px" />
            <img src="" width="50px" height="50px" />
            <img src="" width="50px" height="50px" />
            <img src="" width="50px" height="50px" />
          </div>
        </div><!-- end .timeline-container -->
      </li><!-- end .timeline-item -->

      <li class="year inner-year">2012</li>

      <li class="timeline-item">
        <div class="timeline-point"></div>
        <div class="timeline-container cf">
          <div class="timeline-brief">
            <h4>Kale</h4>
            <h5>Product design • Rails Web API • iOS Client</h5>
            <p>Celebrate your food to eat healthier. Kale helps people track and share their meals.</p>
          </div><!-- end .timeline-brief -->
          <div class="timeline-screens">
            <img src="" width="50px" height="50px" />
            <img src="" width="50px" height="50px" />
            <img src="" width="50px" height="50px" />
            <img src="" width="50px" height="50px" />
          </div>
        </div><!-- end .timeline-container -->
      </li><!-- end .timeline-item -->


    </ol>
  </div>

</div><!-- end .container -->
<footer>
  
</footer>