<div class="navigation-bar"></div>
<div class="container">
  <div class="social-bar offset-1 column-2">
    <a href="http://twitter.com/pvm" class="social-icon twitter"></a>
    <a href="http://dribbble.com/pvm" class="social-icon dribble"></a>
  </div>

  <div class="home-hero">
    <h3 class="offset-1 column-10">Design shapes the world. We must imagine and invent the future. Design can be engineered, but must be crafted. Education is neccesary for the sustainability of the cycle.</h3>
    <div class="offset-1 column-8">
      <p>It’s true. Design shapes the world. This should discuss how evolutionary leaps are common, but to make progress we must envision a future, place ourselves there, and help pull people forward. Progress is made when people ask why something is so, and why it isn’t better. From that questioning, change is sparked.</p>

      <p>Craft can be engineered. Design is nothing magical. It’s a process that can be refined over practice. The best artisans in the world, whether business tycoons in NYC, lace makers in Burano, or manufacturers in Japan have the experience to distill their art into craft.</p>

      <p>Education is our duty.  Not only in our design, but in our craft. We must pass down what we learn to the future, so they can build on our shoulders. Building communities creates strong relationships that promote education and sharing, which serves to advance humanity</p>
    </div>
  </div>

  <div class="home-explore">
    <h2 class="offset-1 column-10">Craft is Balance</h2>

    <div class="column-7 right-align" style="margin-bottom:4em;">
      <h4>Explore</h4>
      <p>This should discuss how evolutionary leaps are common, but to make progress we must envision a future, place ourselves there, and help pull people forward. Progress is made when people ask why something is so, and why it isn’t better. From that questioning, change is sparked.</p>
    </div>

    <div class="column-4 right-align">
      <img src="http://placehold.it/300x190" width="300px" height ="190px" />
    </div>

    <div class="column-7 right-align">
      <h4>Discover</h4>
      <p>This should discuss how evolutionary leaps are common, but to make progress we must envision a future, place ourselves there, and help pull people forward. Progress is made when people ask why something is so, and why it isn’t better. From that questioning, change is sparked.</p>
    </div>
    <div class="column-4 right-align">
      <img src="http://placehold.it/300x190" width="300px" height ="190px" />
    </div>
  </div><!-- end .home-explore -->

  <div class="home-adventures">
    <h2 class="offset-1">Adventures</h2>

    <p class="offset-1 column-8" style="margin-bottom:4em;">It’s true. Design shapes the world. This should discuss how evolutionary leaps are common, but to make progress we must envision a future, place ourselves there, and help pull people forward. Progress is made when people ask why something is so, and why it isn’t better. From that questioning, change is sparked.</p>

    <div class="adventure healthy-kale">
      <div class="offset-1 column-4 adventure-description">
        <h3>Kale</h3>
        <p>Celebrate your food to eat healtheir. Kale helps people track and share their meals. </p>
        <p class="skills-provided">Product design &middot; iOS development &middot; Rails API</p>
      </div>
      <div class="column-6">
        <img src="/assets/home/adventure-kale.png" />
      </div>
    </div><!-- end .adventure -->

    <div class="adventure fitfeud-cor">
      <div class="offset-1 column-4 adventure-description">
        <h3>Cor</h3>
        <p>Health is no longer a perk, it’s a priority. Cor is an employee wellness engagement platform.</p>
        <p class="skills-provided">Product design &middot; front-end dev &middot; CI Integration</p>
      </div>
      <div class="column-6">
        <img src="/assets/home/adventure-cor.png" />
      </div>
    </div><!-- end .adventure -->

    <div class="adventure entrepreneurs-fosterly">
      <div class="offset-1 column-4 adventure-description">
        <h3>Foster.ly</h3>
        <p>Celebrate your food to eat healtheir. Kale helps people track and share their meals. </p>
        <p class="skills-provided">Product design &middot; front-end dev &middot; Rails API</p>
      </div>
      <div class="column-6">
        <img src="/assets/home/adventure-fosterly.png" />
      </div>
    </div><!-- end .adventure -->

  </div>

</div><!-- end .container -->
<footer>
  
</footer>